.container {
  text-align: center;
  margin: 30px 20px;
}
.container__label {
  margin-right: 5px;
  font-size: 20px;
}
.container__input {
  height: 20px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.not-found-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.not-found-container__image {
  width: 400px;
}

.loader-container{
  display: flex;
  justify-content: center;
  align-items: center;
}